<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='FrontEndCSS.css') }}">
</head>
<body>
<div class="spacer" id="spacerTop"></div>
<div class="spacer" id="spacerRight"></div>
<div class="spacer" id="spacerLeft"></div>
<div class="time">
    <h1 id="clock"></h1>
    <h2 id="day"></h2>
    <h2 id="date"></h2>
</div>

<div class="weather">
    <h1 id="wStatus"></h1>
    <img id="pic" src="{{ url_for('static', filename='animated/thunder.svg') }}" height="100" width="100">
</div>

<div class="news">
    <h1 id="newsJQ"></h1>
    <h3 id="newsDesc"></h3>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='hours.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='date.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='weather.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='news.js') }}"></script>

</body>
