<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='FrontEndCSS.css') }}">
</head>
<body>

<div class="time">
    <p id="clock"></p>
    <p id="date"></p>
</div>

<div class="weather">
    <p id="wStatus"></p>
</div>

<div class="news">
    <p id="newsJQ"></p>
    <p id="newsDesc"></p>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='hours.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='date.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='weather.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='news.js') }}"></script>
</body>
