.body{
    color: #ffffff;
    background-color: black;
}

.time{
  float: left;
    width: 50%;
}

.weather{
  float: right;
    text-align: right;
    width: 50%;
}

.news{
  text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}